<h1>Step 2 : Select your config and options</h1>

Config: <select
id="configSelect"
name="configSelect"
[(ngModel)]="carConfigSelected.selConfig" (change)="onConfigChange(carConfigSelected.selConfig)"
>
<option value="" disabled>Choose a Configuaration</option>
<option *ngFor="let configName of configDto$" [ngValue]="configName">{{ configName.description }}</option>
</select>

<div *ngIf="showRangePriceTag">
  Range:{{carConfigSelected.selConfig?.range}} miles - Max speed: {{carConfigSelected.selConfig?.speed}} - Cost :{{carConfigSelected.selConfig?.price | currency : 'USD'}}
</div>
<div *ngIf="isTowHitch">
    <label for="includeTow">Tow Hitch?</label>
    <input type="checkbox" id="includeTow" name="towVal" [(ngModel)]="carConfigSelected.towHitch" />    
</div>

<div *ngIf="isYoke">
  <label for="includeYoke">Yoke steering wheel?</label>
  <input type="checkbox" id="includeYoke" name="yokeVal" [(ngModel)]="carConfigSelected.yoke" />    
</div>


<div style="width: 100%;">
  <img [src]="selectedCarModel?.imageUrl" alt="">
</div>
