<div>
  
    <h2>Step 1: Choose your Model and Color</h2>
    <div class="align-items">
      <div>
        Model:
        <select
        id="modelSelect"
        name="modelSelect"
        [(ngModel)]="carModelColor" (change)="onfilterColorByCode(carModelColor)"
      >
        <option value="0" disabled>Choose a Model</option>
        <option *ngFor="let modelName of modelDto$; let i = index" [ngValue]="modelName">{{ modelName.description }}</option>
      </select>
      </div>
    

<div *ngIf="showColor">
    Color:
      <select
      id="colorSelect"
      name="colorSelect"
      [(ngModel)]="carModelColor.selColors" (change)="onSelectColor(carModelColor.selColors)"
    >
      <option  *ngFor="let selColor of colorArray"  [ngValue]="selColor">{{ selColor.description }}</option>
     
    </select>
</div>
  </div>
  
<br>
<div class="image-style">
    <img [src]="carModelColor.imageUrl" alt="">
</div>
 
</div>
