.column {
    float: left;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 10px;
    //height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .display-align{
    width: 33.3%;
  }